<div>
  <small>● Use basic:</small>
  <p>{{ "WELCOME" | translate }}</p>

  <small>● Use with param:</small>
  <p>{{ "HELLO" | translate: { name: "Diego" } }}</p>

  <small>● Use with param and directive:</small>
  <p
    [translate]="'HELLO'"
    [translateParams]="{ name: 'Diego' }"
  ></p>

  <small>● Use with innerHtml</small>
  <div [innerHTML]="'TITLE' | translate"></div>
  
  <hr />

  <div class="buttons">
    <button (click)="switchLanguage('en')">
      {{ "LANGUAGES.ENGLISH" | translate }}
    </button>
    <button (click)="switchLanguage('es')">
      {{ "LANGUAGES.SPANISH" | translate }}
    </button>
  </div>
</div>
